<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Info" internalLogFile="${var:path}/internal.log">

  <variable name="layout" value="${date:format=yyyy-MM-dd HH\:mm\:ss} ${uppercase:${level}} ${message} ${exception:format=ToString}"/>

  <extensions>
    <add assembly="NLog.Extensions.Logging"/>
    <add assembly="NLog.AWS.Logger" />
  </extensions>

  <targets>
    <target xsi:type="File" name="ms" fileName="${var:path}/${shortdate}-microsoft.log"
            layout="${var:layout}"/>

    <target xsi:type="ColoredConsole"  name="c"
        layout="${var:layout}"/>

    <target xsi:type="File" name="f" fileName="${var:path}/${shortdate}.log"
             layout="${var:layout}"/>

    <target xsi:type="Null" name="blackhole" />

    <target name="aws" type="AWSTarget" logGroup="/aws/eks/pods/varo-api" region="us-east-1" />
  </targets>

  <rules>
    <logger name="Microsoft.Extensions.Diagnostics.HealthChecks.*" minlevel="Info" writeTo="f,c,aws" final="true"/>
    <logger name="Microsoft.*" minlevel="Trace" writeTo="ms" final="true"/>
    <logger name="System.*" minlevel="Trace" writeTo="ms" final="true"/>

    <logger name="*" minlevel="Info" writeTo="f, c, aws" />
  </rules>

</nlog>
